@size: 120px;
@svgSize: 80px;

@base: #D24D57;
@blue: #2A6685;
@yellow: #EBE777;
@grey: dimgrey;

:root {
    font-size: 14px;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
    margin: 0;
	font-family: 'Kreon', serif;
    background-color: @yellow;
}

input:focus {
    outline: none;
}

p {
    color: @grey;
}

main {
	box-sizing: border-box;
	// height: 100vh;
	margin: 8vh auto;
	max-width: 60vw;
	text-align: center;

	& > h1 {
        color: darken(@grey, 0%);
        // text-align: left;
		font-size: 2.5rem;
		font-weight: 600;
        text-transform: capitalize;
		font-family: 'Maven Pro', sans-serif;
        margin: 0 0 1em 0;
        // padding: 0 2em 1em 2em;
        // border-bottom: .123em solid @grey;

        i.fa {
            font-size: 2.4rem;
            margin-right: 1.1em;
            vertical-align: baseline;
            //color: @blue;
        }

    }

    .search-box {
        padding: 0 0 3em 0;
        .error {
            display: none;
            font-size: 2rem;
            color: @grey;
        }
        input {
            box-sizing: border-box;
            font-size: 2rem;
            padding: .5em 1em;
            //border: none;
            border: 0.12em solid @grey;
            font-family: 'Maven Pro', sans-serif;

            &[type="search"] {
                color: @grey;
            }
            &[type="button"] {
                background: @grey;
                color: white;
                cursor: pointer;
            }
        }
    }
}
.weather {
	position: relative;
	font-size: 2.6rem;
	font-weight: 300;
	text-align: center;
	// margin-top: 1.4em;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .to-hide {
        display: none;
    }

	.weather-city {
        position: relative;
        font-size: 2rem;
        color: white;
		margin: 0 .5em .5em 0;
        width: 28vw;
        padding: 1.4em;
        // border: 0.078em solid lighten(@grey, 40%);
        border-radius: .12em;
        background-color: @base;
        @media (max-width: 900px) {
            font-size: 1.5vh;
            width: 40vw;
        }

        & > .fa-close {
            position: absolute;
            left: .6em;
            top: .6em;
            cursor: pointer;
            font-size: 2rem;
            // color: white;
        }

        .city-name {
            margin: 0 0 1.2rem 0;
            word-break: break-word;
        }

		.temp-unit {
			display: inline-block;
			position: relative;

			.temperature, .unit {
				//font-family: 'Kreon', serif
            }
			.unit {
				cursor: pointer;
				position: relative;
				display: inline-block;
				width: 1.6em;
				text-align: left;

				&:hover .tooltip {
					opacity: 1;
					visibility: visible;
                }
				.tooltip {
					display: block;
					position: absolute;
					opacity: 0;
					visibility: hidden;
					width: 10em;
					padding: .3em .8em;
					font-size: 1rem;
                    line-height: 1.5;
                    // color: @grey;
					top: -2.4em;
					left: 50%;
                    transform: translateX(-50%);
					background-color: @blue;
					border-radius: .2em;
					transition: all .2s ease-in-out;

					&::after {
						content: "";
						position: absolute;
						display: block;
						width: 0;
						height: 0;
						bottom: -8px;
						right: 50%;
						transform: translateX(50%);
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid @blue;
                    }
                }
				small {
					position: absolute;
					display: inline-block;
					top: .2em;
					left: .6em;
					margin-left: -10px;
					margin-right: 10px;
					transition: all .3s ease-in-out;

					&.active {
						//left: 0;
                    }
					&:not(.active) {
						transform: translateX(150%);
						color: lighten(@grey, 35%);
                    }
                }
            }
        }
    }
}
